*{
    margin: 0px;
    padding: 0px;
    background-image: url('bg.jpg') ;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-sizing: border-box;
}
h1 {
    font-family: 'Slabo 27px', serif;
    font-size: 3em;
    text-align: center;
}

h2 {
    font-family: 'Bowlby One', cursive;
    font-size: 2.5em;
    color: #fff;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    text-align: center;
}

h3{
    font-family: 'Bangers', cursive;
    font-size: 2.5em;
}

h4 {
    font-family: 'Rancho', cursive;
    font-size: 2em;
}

p {
    font-family: 'Gaegu', cursive;
    font-size: 1.75em;
} 

#answerWord {
    letter-spacing: .25em;
    margin-top: 30px;
    margin-left: 75px;
}
.losses{
    margin-left: 60px;
}

.row .col {
    padding: .8em;
    background-color: #EBEDEF;
    border-radius: .35em;
    margin: 0 .5em .8em; 
}
.container{
    display: flex;
    justify-content: space-around;
    margin-top: 90px;
}
.left{
display: flex;
justify-content: space-between;
}
@media (min-width: 768px) {
    .row {
      display: flex;
      width: 90%;
      margin: 0 auto; 
    }
    .row .col {
        display: flex;
        flex-direction: column;
        flex: 1; 
    } 
}

@media (min-width: 992px) {
    .row {
      width: 80%;
      max-width: 1150px;
    }
}


